.navbar {
  background: transparent;
  padding: 0 !important;
}

.navbar-sidebar {
  z-index: 1000;
}

.navbar > header {
  padding-top: 10px !important;
}

@media (max-width: 1023px) {
  .navbar > header {
    padding-top: 13px !important;
  }
}

:root,
:host {
  --ifm-navbar-height: 80px;
  --ifm-navbar-item-padding-horizontal: 0px;
}

.DocSearch-Button-Placeholder {
  display: none;
}

.DocSearch-Button-Keys {
  display: none;
}

.DocSearch-Button {
  padding: 0;
}
