.forced-dark {
  background: #d2d2d2 !important;

  & .wrapper {
    background-image: url("/images/bg-samsung.svg") !important;
  }

  & h1,
  h2,
  h3 {
    color: #ffffff !important;
  }

  & .bg-\[\#cc34df\] {
    background-color: #ff06ff !important;
  }

  & .bg-fuchsia-500 {
    background-color: #ff06ff !important;
  }

  & .bg-\[\#323337\] {
    background-color: #ffffff !important;
  }

  & .bg-\[\#1e1f23\] {
    background-color: #cecece !important;
  }

  & .bg-\[\#201F25\] {
    background-color: #cecece !important;
  }

  & .bg-white\/10 {
    background-color: #cecece !important;
  }

  .bg-\[\#17181c\] {
    background-color: #cecece !important;
  }

  .bg-\[rgba\(255\,255\,255\,0\.03\)\] {
    background-color: #cecece !important;
  }

  .bg-\[\#1e2024\] {
    background-color: #c3c2c2 !important;
  }

  & .bg-\[linear-gradient\(178deg\,_\#F05C80_-26\.38\%\,_\#CC34DF_98\.09\%\)\] {
    background: #ff06ff !important;
  }

  & .bg-\[linear-gradient\(178deg\,_\#F05C80_-26\.55\%\,_\#CC34DF_98\.09\%\)\] {
    color: #e629ff !important;
  }

  & .bg-gradient-to-b.from-\[\#F05C80\].to-\[\#CC34DF\] {
    color: #e629ff !important;
  }

  & .bg-\[\#17181c\].bg-clip-text.text-transparent {
    color: #e629ff !important;
  }

  & .bg-gradient-to-br {
    background: #ff06ff !important;
  }
}
