.theme-layout-main {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.theme-doc-sidebar-item-link-level-2 {
  padding-left: 25px;
}

.theme-doc-sidebar-item-link-level-2:first-child {
  margin-top: 4px;
}
